@model MotherHood.Models.MessageComentsViewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Üzenet</h1>

<div class="mb-5">
    <h5>Téma: @Html.DisplayFor(m => m.message.Tema) </h5>
    <h5>
        Küldő: 
        <a class="col-12 p-0 font-weight-bold" asp-controller="users" asp-action="Details" asp-route-id="@Model.message.ApplicationUser.Id"> @Model.message.ApplicationUser.lastName @Model.message.ApplicationUser.firstName </a>
    </h5>
    <h4 class="mb-3">@Model.message.Cim</h4>

    <div class="">
        @Model.message.Uzenet
    </div>

</div>
<hr />

<h5>Hozzászólások</h5>
<div class="container">
    @if (Model.message.Comment != null)
    {
        @foreach (Comment comment in Model.message.Comment)
        {
            <div class="row mt-3">
                <a class="col-12 p-0 font-weight-bold"  asp-controller="users" asp-action="Details" asp-route-id="@comment.ApplicationUser.Id" >
                    @comment.ApplicationUser.firstName
                    @comment.ApplicationUser.lastName:
                </a>
                <div class="col-12 border p-3">
                    @comment.Szoveg
                </div>

                <div class="col-2 offset-10">
                    @comment.Idopont
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <a asp-action="Delete" asp-controller="comments" asp-route-id="@comment.Id">Delete</a>
                    }
                </div>

            </div>
        }

    }

</div>

<form asp-controller="Comments" asp-action="Create">

    <div class="form-group">
        <label asp-for="Szoveg" class="control-label"></label>
        <textarea asp-for="Szoveg" class="form-control"> </textarea>
        <span asp-validation-for="Szoveg" class="text-danger"></span>
        <input type="hidden" asp-for="MessageId" value="@Model.message.Id" />
    </div>
    <input type="submit" class="btn btn-primary" value="Küldés" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
