@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<MotherHood.Models.Message>

@{
    ViewData["Title"] = "Beszélgetések";
}

<h1>Beszélgetések</h1>

<p>
    <a asp-action="Create">Új beszélgetés</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cim)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Tema)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Cim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.firstName)
                    @Html.DisplayFor(modelItem => item.ApplicationUser.lastName)

                </td>
                <td>

                    @if (ViewBag.loggedInUserId == item.ApplicationUser.Id)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }


                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
